

  .container {
    max-width: 960px;
  }
  
  /*
   * Custom translucent site header
   */
  
  .site-header {
    background-color: rgba(255, 255, 255, 1);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-box-shadow: 0 5px 6px -5px #bababa;
    -moz-box-shadow: 0 5px 6px -5px #bababa;
    box-shadow: 0 5px 6px -5px #bababa;
  }
  .site-header a {
    color: #999;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #F17105;
    text-decoration: none;
  }
  
  /*
   * Dummy devices (replace them with your own or something else entirely!)
   */
  
  .product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }
  
  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }
  
  
  /*
   * Extra utilities
   */
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  
  .flex-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      -webkit-box-flex: 1;
      flex: 1;
    }
  }
  
  .overflow-hidden { overflow: hidden; }

  .text-primary {
    /* color:#002366 !important; */
  }

  .link, .link:hover{
    text-decoration:none;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    color:#F17105;
    padding-bottom:0.25rem;
  }

  .logo {
    width:25px;
  }

  .fade.in {
    opacity:1;
  }

  .fade {
    opacity:0;
  }

  .fdb-block {
    padding-top:50px;
  }

  a:hover{
    color:#F17105 !important;
  }
  .container-arrows {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: 50vh;
  }
  
  .chevron {
    position: absolute;
    width: 2.1rem;
    height: 0.48rem;
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    -webkit-animation: move-chevron 3s ease-out infinite;
            animation: move-chevron 3s ease-out infinite;
  }
  
  .chevron:first-child {
    -webkit-animation: move-chevron 3s ease-out 1s infinite;
            animation: move-chevron 3s ease-out 1s infinite;
  }
  
  .chevron:nth-child(2) {
    -webkit-animation: move-chevron 3s ease-out 2s infinite;
            animation: move-chevron 3s ease-out 2s infinite;
  }
  
  .chevron:before,
  .chevron:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: #2c3e50;
  }
  
  .chevron:before {
    left: 0;
    -webkit-transform: skewY(30deg);
            transform: skewY(30deg);
  }
  
  .chevron:after {
    right: 0;
    width: 50%;
    -webkit-transform: skewY(-30deg);
            transform: skewY(-30deg);
  }
  
  @-webkit-keyframes move-chevron {
    25% {
      opacity: 1;
    }
    33.3% {
      opacity: 1;
      -webkit-transform: translateY(2.28rem);
              transform: translateY(2.28rem);
    }
    66.6% {
      opacity: 1;
      -webkit-transform: translateY(3.12rem);
              transform: translateY(3.12rem);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(4.8rem) scale(0.5);
              transform: translateY(4.8rem) scale(0.5);
    }
  }
  
  @keyframes move-chevron {
    25% {
      opacity: 1;
    }
    33.3% {
      opacity: 1;
      -webkit-transform: translateY(2.28rem);
              transform: translateY(2.28rem);
    }
    66.6% {
      opacity: 1;
      -webkit-transform: translateY(3.12rem);
              transform: translateY(3.12rem);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(4.8rem) scale(0.5);
              transform: translateY(4.8rem) scale(0.5);
    }
  }

  .fdb-block {
    padding-bottom:50px;
  }
  