

  .container {
    max-width: 960px;
  }
  
  /*
   * Custom translucent site header
   */
  
  .site-header {
    background-color: rgba(255, 255, 255, 1);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-box-shadow: 0 5px 6px -5px #bababa;
    -moz-box-shadow: 0 5px 6px -5px #bababa;
    box-shadow: 0 5px 6px -5px #bababa;
  }
  .site-header a {
    color: #999;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #F17105;
    text-decoration: none;
  }
  
  /*
   * Dummy devices (replace them with your own or something else entirely!)
   */
  
  .product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }
  
  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }
  
  
  /*
   * Extra utilities
   */
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  
  .flex-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      -webkit-box-flex: 1;
      flex: 1;
    }
  }
  
  .overflow-hidden { overflow: hidden; }

  .text-primary {
    /* color:#002366 !important; */
  }

  .link, .link:hover{
    text-decoration:none;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    color:#F17105;
    padding-bottom:0.25rem;
  }

  .logo {
    width:25px;
  }

  fade {
    opacity:0;
  }

  .fade.in {
    opacity:1;
  }

  .fdb-block {
    padding-top:50px;
  }

  a:hover{
    color:#F17105 !important;
  }
  .container-arrows {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: 50vh;
  }
  
  .fdb-block {
    padding-bottom:50px;
  }
  

.icon-scroll {
  width: 20px;
  height: 35px;
  box-shadow: inset 0 0 0 1px #6c757d;
  border-radius: 12px;
  opacity:1;
}

.icon-scroll.out{
  opacity:0;
}

.icon-scroll.in{
  opacity:1;
}

.icon-scroll.in.out {
  opacity:0;
}


.icon-scroll:before {
  content: '';
  width: 4px;
  height: 4px;
  background: #6c757d;
  margin-left: -2px;
  top: 4px;
  border-radius: 2px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(23px);
            transform: translateY(23px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(23px);
            transform: translateY(23px);
  }
}

.icon-scroll {
  position: relative;
  left: 50%;
}
.icon-scroll:before {
  position: absolute;
  left: 50%;
}

.box{
border: 1px solid #007bff;
border-radius: 10px;
padding: 20px;
margin-bottom: 20px;
transition: opacity 0.5s;
-webkit-transition: all ease 0.5s;
-moz-transition: all ease 0.5s;
-o-transition: all ease 0.5s;
-ms-transition: all ease 0.5s;
transition: all ease 0.5s;
}

.box:hover {
  background: rgba(255,255,255,0.1);
}

.me {
  max-height: 400px;
}

.me-img {
  text-align:center;
}

.section-header {
  margin-bottom:1.5em;
  font-size: 1.5rem;
  margin-top: .3em;
  font-weight: 400;
}

.label {
  /* margin-top:-10px; */
  font-size:0.7em;
  color:white;
}

.label span {
  background: #007bff;
  padding:5px 10px;
  border-radius:10px;
}

@media only screen and (max-width: 575px) {
.comp_logo {
  max-width:60%;
  max-height:40px;
}
}

.link_icon{
  padding-left:10px;
  max-width:30px;
}

.card-special {
  background: #fff;
    box-shadow: 0 7px 34px 0 rgba(0,0,0,.07), 0 11px 34px 0 rgba(0,0,0,.04);
    border-radius: 10px;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    min-height: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    border:none;
    border-left: 2px solid #007bff;
    border-left-width: 5px;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease,-webkit-transform .3s ease;
    will-change: transform;
}

.card-special:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}